[submodule "cmppl-staging-backend"]
  path = cmppl-staging-backend
  url = https://github.com/02vee/cmppl-staging-backend.git

[submodule "cmppl-staging-backend/cmppl-staging-backend"]
  path = cmppl-staging-backend/cmppl-staging-backend
  url = https://github.com/02vee/cmppl-staging-backend.git
